<nav class="navbar navbar-expand-lg text-light bg-dark ">
  <a class="navbar-brand" href="{% url 'allproducts' %}">E-store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'allproducts' %}">Home <span class="sr-only">(current)</span></a>
      </li>

      <a class="nav-link dropdown-toggle" href="{% url 'allproducts' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Products
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'allproducts' %}">All products</a>
        {% for cat in links %}
        <a class="dropdown-item" href="{{cat.get_url}}">{{cat.name}}</a>
        {% endfor %}
        </li>
      </div>

      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/signup/">Register</a>
      </li>
       <li class="nav-item">
        <a class="nav-link active" href="/signin/">Log in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/signout/">Logout</a>
      </li>


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>